#Visual Studio Temporary Files
.vs/

#Intermediate files in my engine
Intermediate/

#Debug Databases
Bin/*.pdb

#Engine-built libs
Lib/

#Project&Solution files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user